html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 18px;
	font-weight: 400;
	line-height: 25.92px;
	color: #222222;
	width: 100%;
	font-family: "Nunito", sans-serif;
}

.container {
	max-width: 1320px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}



.sec_titl {
	font-family: "Nunito", sans-serif;
	font-size: 36px;
	font-weight: 400;
	margin: 0 auto;
	line-height: normal;
}

.btn {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 10px 10px;
	text-align: center;
	display: block;
	text-decoration: none;
	border-radius: 48px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24.55px;
	height: 25px;
	transition: 0.3s;
}


.flex {
	display: flex;
	justify-content: space-between;
}

.header {
	position: fixed;
	z-index: 3;
	background: #FFFFFF;
	border-bottom: 1px solid #AAAAAA;
	height: 78px;
	top: 0;
	left: 0;
	right: 0;
}

.container {
	width: 1290px;
	margin: 0 auto;
}

.nav_wrapp {
	display: flex;
	align-items: center;
	padding: 22px 120px;
}

.menu li {
	font-size: 16px;
	margin-left: 30px;
}

button.btn {
	display: flex;
	align-items: center;
	padding: 16px 33px;
	margin-left: 40px;

}

.nav_block {
	display: flex;
	align-items: center;
}
.money_wrapp{
	align-items: center;
}

.money_left{
	padding: 85px 125px;
	margin-top: 200px;
}

p.money_txt{
	width: 250px;
	font-size: 16px;
}
.money_title{
font-size: 42px;
line-height: 50px;
text-align: left;
padding-bottom: 34px;
}
.money_desc{
font-size: 18px;
line-height: 26px;
padding-bottom: 21px;
}
.money_app{
	margin-bottom: 20px;
}
.money_ic{
	margin-bottom: 40px;
}
.money_ic-in{
	width: 290px;
}
.money_right{
	max-width: 585px;
}
.money_img{
	margin-right: 121px;
}
.boost_img{
	padding: 104px 120px;
}
.sec_titl{
	margin-bottom: 35px;
}
.boost{
	display: flex;
	align-items: center;
}
.boost_txt{
	width: 480px;
	margin-bottom: 25px;
}
.boost_right{
	margin-top: 340px;
	
}
.care_wrapp{
	align-items: flex-end;
}
.care_left{
	width: 480px;
	margin-left: 114px;
}
.sec_titl{
	margin-bottom: 34px;
}
.care_txt{
	margin-bottom: 20px;
}
.care_img{
	margin-right: 122px;
}
.partners{
	padding-top: 110px;
}
.content{
	text-align: center;
}
.content_txt{
	width: 584px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.btn_app{
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 10px 10px;
	text-align: center;
	display: block;
	text-decoration: none;
	border-radius: 48px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24.55px;
	transition: 0.3s;
	text-align: center;
}

	
.more_apps{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.partn_app{
	width: calc((100% - 150px) / 4);
	margin-bottom: 20px;
	
}
.partn_app img{
	max-height: 100%;
	width: auto;
	max-width: 100%;
}
.btn_app{
	font-size: 18px;
	text-align: center;
	padding: 15px 30px;
	font-size: 18px;
	border-radius: 30px;
	margin: 0 auto;
	margin-bottom: 30px;
	
}
.mastercard{
	margin-top: 115px;
	margin-left: 116px;
}
.mastercard_wrapp{
	align-items: center;
}
.master_txt{
	width: 480px;
	margin-bottom: 30px;
}
.ic_pay{
	width: 90px;
	height: 58px;
	background: url(/img/icons/ic_pay.svg);
	display: inline-block;
	margin-right: 20px;
}
.ic_pay-g{
	width: 90px;
	height: 58px;
	background: url(/img/icons/ic_pay-g.svg);
	display: inline-block;	
}
.mastercard_right{
	width: 585px;
	margin-right: 120px;
}
.fees{
	padding-top: 50px;
}
.fees_wrapp{
	align-items: flex-end;
}
.fees_right{
	margin-left: 136px;
}
.fees_txt{
	width: 480px;
	margin-bottom: 20px;
}
.account{
	padding-top: 50px;
}
.account_wrapp{
	align-items: center;
}
.account_txt{
	width: 480px;
}
.account_txt{
	margin-bottom: 22px;
}
.quick{
	padding-top: 60px;
	padding-bottom: 40px;
}
.quick_wrapp{
	align-items: flex-end;
}
.quick_txt{
	width: 480px;
	margin-bottom: 20px;
}
.quick_btn{
	margin-top: 35px;
	
}
.money_app-quick{
margin-right: 22px;
}
.contacts{
	padding-top: 50px;
}
.contacts_list{
	font-size: 14px;
	color: #000000;

}
.contacts_name{
	margin-bottom: 40px;
}
.contacts_item{
	margin-bottom: 20px;
}
.contact_logo{
	
	margin-bottom: 20px;
}
.contact_txt{
	width: 836px;
	font-size: 12px;
	color: #AAAAAA;
}
.contact-in{
	align-items: center;
	margin-top: 50px;
}
